.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  box-shadow: 0 2px 2px -2px lightgrey;

  .HBMenu {
    margin-left: 2.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    div {
      width: 2.75rem;
      height: 2.5px;
      background-color: #333;
      margin: 2.75px 0;
      border-radius: 25%;
      transition: all 1s ease-in-out;
    }
  }

  .logoContainer {
    a {
      text-decoration: none;
    }
    .logo {
      font-size: 3.2rem;
      color: #333;
      font-family: "Bungee Outline", cursive;
    }
  }

  .cart {
    cursor: pointer;
    margin-right: 2.5rem;
  }
}

.relative {
  position: relative;
}

@media only screen and (min-width: 1021px) {
  .container {
    display: none;
  }
}
@media only screen and (max-width: 1020px) {
  .container {
    display: flex;
  }
}
