.container {
  background-color: white;
  width: 28rem;
  height: 100vh;
  position: absolute;
  z-index: 11;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;

  .links {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: black;
      padding: 1.2rem 2.5rem;
      font-size: 1.5rem;
      border-top: 0.1rem solid #e1e1e1;
      font-weight: bold;
    }
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.52);
  position: absolute;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s linear;
  //   position: fixed;
}


@media only screen and (max-height: 350px) {
    .container {
        .links {
            a{
                padding: 1rem 2.5rem;
            }
        }
    }
  }