.container {
  width: auto;
  height: 100%;

  a {
    text-decoration: none;
    color: black;
    .image {
      width: 280px;
      height: 320px;
      object-fit: cover;
    }

    .productInfo {
      padding-top: 1rem;
      h5 {
        font-size: 1.3rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
