.container {
  display: flex;
  flex-direction: column;
  padding: 7rem 0;
  min-height: 80vh;

  .filterContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    select {
      margin-right: 7rem;
      font-size: 1.2rem;
      color: #333;
      height: 30px;
      outline: none;
      border: 1px lightgrey solid;
      border-radius: 10px;
      padding: 0 1rem;
    }
  }

  .contentContainer {
    display: flex;
    justify-content: space-between;

    nav {
      padding: 3rem 0;
      span {
        display: none;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h5 {
          font-size: 1rem;
          letter-spacing: 1px;
        }

        a {
          font-size: 1.1rem;
          color: black;
          padding: 8px 0;
          letter-spacing: 0.8px;
          text-decoration: none;
          transition: color 0.1s linear;

          &:hover {
            color: #b5aa8f;
          }
        }

        &:nth-child(1) {
          h5 {
            padding-bottom: 1rem;
          }
        }
        &:nth-child(2) {
          h5 {
            padding: 2rem 0 1rem 0;
          }
        }
      }
    }

    .productContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-basis: 88%;
      padding-top: 3rem;
      .spacing {
        padding: 0 2.5rem;
        margin-bottom: 3rem;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

.selected {
  color: #b5aa8f !important;
}

.emptyMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  font-size: 1.4rem;
  padding-left: 4rem;
  text-align: center;
}

@media only screen and (max-width: 1450px) {
  .container {
    .contentContainer {
      .productContainer {
        flex-basis: 82%;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    padding: 3rem 0;
    .contentContainer {
      flex-direction: column;
      nav {
        span {
          display: inline-block;
          margin: 0 1rem;
          color: black;
        }
        div {
          flex-direction: row;
          justify-content: center;
          h5 {
            display: none;
          }
          a {
            font-size: 1.3rem;
          }
        }
      }
      .productContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        .spacing {
          &:last-child {
            padding-right: 2.5rem;
          }
        }
      }
    }
  }
  .emptyMessage {
    padding-left: 0rem;
    position: absolute;
  }
}
@media only screen and (max-width: 820px) {
  .container {
    .contentContainer {
      .productContainer {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .container {
    .filterContainer {
      select {
        margin-right: 1.5rem;
      }
    }
    .contentContainer {
      nav {
        div {
          a {
            font-size: 1.2rem;
          }
        }
      }
      .productContainer {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  .emptyMessage {
    padding-left: 0rem;
  }
}
