@import "../../../scss/utility.scss";

.logoContainer {
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
  box-shadow: 0 2px 2px -2px lightgrey;
  margin-bottom: 3px;
  a {
    font-size: 1.4rem;
    text-decoration: none;
    position: relative;
    color: black;
    font-weight: bold;
  }
  .logo {
    font-size: 3.2rem;
    padding: 0 2rem;
    padding-bottom: 1.25rem;
    color: #333;
    // font-family: "WindSong", cursive;
    font-family: "Bungee Outline", cursive;

    // span {
    //   font-family: "Bungee Outline", cursive;
    // }
  }
}
.container {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding-top: 1.25rem;
  margin-bottom: -3px;
  div:nth-child(1) {
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
  // div:nth-child(2) {
  //   a {
  //     padding: 0;
  //     margin: 0;
  //     img {
  //       width: 200px;
  //       height: 55px;
  //       object-fit: cover;
  //     }
  //   }
  // }
  div:nth-child(2) {
    margin-right: 2rem;
    display: flex;
    align-items: center;
  }
  a {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 2.5rem 0;
    margin: 0 4rem;
    position: relative;
    color: black;
    font-weight: bold;
    u {
      transform: scaleX(0);
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: black;
      transition: all 0.4s ease-in-out;
      z-index: 6;
    }
  }

  .link {
    cursor: pointer;
    &:hover::after {
      transform: scaleX(1);
      content: "";
      transition: all 0.4s ease-in-out;
    }
    &::after {
      content: "";
      transform: scaleX(0);
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: black;
      transition: all 0.4s ease-in-out;
    }
  }

  .bubble {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.relative {
  position: relative;

  .overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.52);
    position: absolute;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s linear;
    position: fixed;
  }

  .contain {
    width: 100%;
    height: 45rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform ease-out 0.4s;
    position: absolute;
    z-index: 11;
    border-top: 1px solid #e1e1e1;
    padding: 6.4rem 2rem 4.5rem 3.2rem;

    .categories {
      margin-left: 6rem;
      display: flex;
      flex-basis: 10%;
      flex-direction: column;
      justify-content: flex-start;
      transform: translateY(-20px);
      transform-origin: top;
      opacity: 0;
      transition-duration: 0;
      transition-property: opacity, transform;
      transition-timing-function: ease-out;

      h4 {
        font-size: 1rem;
        margin-bottom: 2rem;
      }
      .catFont {
        @extend %p-extend;
        color: black;
        text-decoration: none;
        margin: 1rem 0;
        font-weight: normal;
        letter-spacing: normal;
        transition: color 200ms ease;
        &:hover {
          color: #b5aa8f;
        }
      }

      .cat {
        display: flex;
        flex-direction: column;
      }
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-basis: auto;
      width: 100%;
      // padding-left: 12rem;
      transform: translateY(-20px);
      transform-origin: top;
      opacity: 0;
      transition-duration: 0;
      transition-property: opacity, transform;
      transition-timing-function: ease-out;
    }
  }
}

.spacing {
  animation: fadeIn 300ms linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1450px) {
  .relative {
    .contain {
      height: 40rem;
      .categories {
        margin-left: 0rem;
      }
      .content {
        align-items: flex-start;
      }
    }
  }
}
@media only screen and (max-width: 1150px) {
  .relative {
    .contain {
      height: 35rem;
      .categories {
        margin-left: 0rem;
        flex-basis: 12%;
      }
    }
  }
}
@media only screen and (max-width: 1020px) {
  .logoContainer {
    display: none;
  }
  .container {
    display: none;
  }
  .relative {
    display: none;
  }
}
