.wrapper {
  .imgContainer {
    width: 100%;
    height: 480px;
    img {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .wrapper {
    .imgContainer {
      height: 380px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .wrapper {
    .imgContainer {
      height: 250px;
    }
  }
}

@media only screen and (max-width: 520px) {
  .wrapper {
    .imgContainer {
      height: 150px;
    }
  }
}
