// change width when making responsive on mq
$max-width: 1500px;
$max-width2: 1300px;
$max-width3: 1100px;
$max-width4: 950px;
// $max-width4: 1500px;

$primary-color: #18171d;
$secondary-color: #ffffff;
$hover-color: #454545;
$font-family: "Roboto", sans-serif;

$footer-py: 2rem;
