@import "../../../scss/variables.scss";
.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 7rem;

  .heading {
    align-self: center;
    font-size: 2.6rem;
    font-family: $font-family;
    font-weight: 500;
    padding-bottom: 4rem;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    .content {
      width: 75%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 4rem;
      justify-items: center;
    }
  }
}

@media only screen and (max-width: 750px) {
  .container {
    .content {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 520px) {
  .container {
    .content {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
