.container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
    color: #333;
  }

  p {
    font-size: 1.4rem;
    color: #333;
    line-height: 1.5;
    padding-left: 7px;
    padding-bottom: 0.8rem;
  }

  input,
  select,
  textarea {
    font-size: 1.6rem;
    color: #333;
    line-height: 1.2;
    width: 100%;
    height: 30px;
    background: 0 0;
    padding: 0 7px 0 10px;
    outline: none;
    border: none;

    &::placeholder {
      color: #adadad;
      font-size: 1.6rem;
    }
  }

  input {
    border-bottom: 1px solid #d9d9d9;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }

  .edit {
    color: black !important;
  }
  .row1,
  .row2,
  .row3,
  .row4,
  .row5,
  .row6 {
    margin-bottom: 2rem;
  }

  .row2,
  .row3,
  .row6 {
    display: flex;
    justify-content: space-between;
  }

  .row3 {
    select {
      width: 190px;
      border-bottom: 1px solid #d9d9d9;
      color: #adadad;
    }
  }
  .row4 {
    display: flex;
    // justify-content: space-between;
    input[type="file"] {
      display: none;
    }
    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      width: 140px;
      background-color: lightgrey;
      color: black;
      padding: 1rem;
      font-size: 1.4rem;
      cursor: pointer;
      // margin-bottom: 2.3rem;
      transition: all 300ms;

      &:hover {
        color: white;
        background-color: #333;
      }
    }
    img {
      width: 300px;
      height: 90px;
      object-fit: contain;
      margin-left: 5rem;
    }
    // input::-webkit-file-upload-button {
    //   background-color: white;
    //   border-radius: 10px;
    //   color: #adadad;
    //   border: 1px solid #d9d9d9;
    //   cursor: pointer;
    //   transition: all 200ms linear;

    //   &:hover {
    //     color: #333;
    //     transition: all 200ms linear;
    //     border-color: #333;
    //   }
    // }
  }

  .row5 {
    textarea {
      border-bottom: 1px solid #d9d9d9;
      resize: none;
      height: 50px;
    }
  }

  .row6 {
    flex-wrap: wrap;
    input {
      width: 80px;
      margin-bottom: 2.3rem;
    }
  }

  .row7 {
    display: flex;
    align-items: center;
    p {
      font-weight: bold;
    }
    input {
      margin-bottom: 2.3rem;
      width: 120px;
      position: relative;
    }
  }

  button {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 25px;
    transition: all 0.4s;
    background-color: lightgrey;

    &:hover {
      color: white;
      background-color: #333;
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(-1px);
      transition: all 0.3s;
    }
  }
}
