.container {
  padding: 2rem;

  h2 {
    padding-bottom: 3rem;
    font-size: 1.8rem;
    span {
      display: block;
      color: red;
    }
  }

  .btnContainer {
    display: flex;
    justify-content: space-around;
    button {
      font-size: 1.6rem;
      font-weight: 600;
      color: #333;
      line-height: 1.2;
      text-transform: uppercase;
      width: 40%;
      height: 42px;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 25px;
      transition: all 0.4s;
      background-color: lightgrey;

      &:first-child {
        margin-right: 1rem;
      }
      &:first-child:hover {
        color: white;
        background-color: red;
        transform: translateY(-2px);
      }
      &:last-child:hover {
        color: white;
        background-color: green;
        transform: translateY(-2px);
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .container {
    padding: 1rem;

    h2 {
      padding-bottom: 1.5rem;
      font-size: 1.8rem;
      span {
        display: block;
        color: red;
      }
    }
  }
}
