@import "../../scss/variables.scss";

.container {
  max-width: $max-width;
  margin: auto;

  .imageContainer {
    margin: 1.5rem auto;
    width: 95%;
    position: relative;
    display: flex;
    justify-content: center;

    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      text-align: center;
      color: #eeeded;
      font-size: 12rem;
      width: 100%;
      height: 100%;
      font-family: $font-family;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.35);
    }
    img {
      width: 100%;
      height: 380px;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 1550px) {
  .container {
    max-width: $max-width2;
  }
}
@media only screen and (max-width: 1450px) {
  .container {
    max-width: $max-width3;
  }
}
@media only screen and (max-width: 1150px) {
  .container {
    max-width: $max-width4;
  }
}
@media only screen and (max-width: 1020px) {
  .container {
    .imageContainer {
      margin: 3rem auto;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    .imageContainer {
      img {
        height: 280px;
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .container {
    .imageContainer {
      h4 {
        font-size: 6rem;
      }
      img {
        height: 200px;
      }
    }
  }
}
